

 
.content{
	margin-top:10px;

}
.row.last{
	margin-top: 10px;
}


.row.title{

		margin-top: 10px;


}

.row.first.title{
	margin-top: 0px !important;
	padding: 5px;
}
.title{
	text-align: center;
	color: white;
	text-transform: uppercase;
	background-color: #2dc997;
	padding:5px;


}

.left-recipes-picture{
	overflow: hidden;

}


.recipes-picture{
	
}

.picture{
	width: 400px;
	height: auto;
}



@media (max-width: 768px) {
  .container.recipes{
	margin-left: 0px;
	margin-right: 0px;
	
  }
}
li{
	    list-style-type: none;
}

.add-recipes-dropdown-desing{

	  color: #666666;
    background: white;
    padding: 4px;
    border: 1px solid #cccccc;
    border-radius: 4px;

	} 

.add-recipes-dropdown-desing:hover{

	  color: #666666 !important;
    
	} 

.add-recopes-dropdown-desing  a:active, a:focus{

	  color: #666666 !important;
    
	} 

textarea{
	overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}


.wow.fadeInUp{
		background-color: #f5f5f5 !important;
}

.navbar-inverse .navbar-nav > li > a{
	color: #e17e00;
}