@charset "utf-8";

body{
 background-color:#eeba7d; 
 -webkit-background-size: 100%;
 -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: cover;
}

.btn-lg, .btn-group-lg > .btn{
  padding: 6px;
}

.titles{
  text-align: center;
  color: #6e1e0f;
  border-bottom: 1px solid #dedede;
}


legend{
  color: #6e1e0f !important; 
  font-size: 24px;
  padding-top: 20px;
  text-align: center;
}


li{
  list-style-type: none;
}

textarea{
  overflow: hidden;
  white-space: pre-wrap;
  resize: vertical;
}

pre{
  white-space: pre-wrap;
  word-break: break-word;
  background-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
   margin: 0; 
}

.container{
  margin-top: 70px;
  background-color: #f5f5f5;
}


.name-of-input{
  margin-bottom: 20px;
}


/*NAVIGATION AND CONTENT*/

.navbar-brand{
  font-size: 28px;
  color:#ffb347 !important;
  font-style: italic;

}
.navbar-inverse{
  background-color: #6e1e0f !important;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}
.navbar-right{
  color: #ffd350;
}
.navbar-inverse .navbar-nav > li > a{
  color: #ffb347 !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
  background-color: #eeba7d !important;
  color: black !important;
}


.fa.fa-search{
  position: absolute;
  top: 14px;
  right: 35px;
  color: black;
  font-size: 15px;
}
.search{
  color: black !important;
  width: 100% !important;
  border:10px solid #2dc997;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 3px;
}





.gallery_recipes{
  text-align: center;
  margin-bottom: 30px;
}



/*SHOWADVANCED*/

.fb-share{
  background: rgb(2, 90, 164);
  color: white;
  border: none;
  float: right;
}

#recipes-picture{
  width: 100%;
}

.basic-info{
  margin-top: 20px;
}

#basic-information{
  padding: 0px;
}

#recipes-likes{
  background: #6e1e0f;
  position: relative;
  right: 5px;
  bottom: 2px;
  font-size: 14px;
  display: inline-block;
  padding-left: 10px;
  color: white;
  padding-right: 10px;
}


/*MODAL*/

.modal {
  background: #175b6f;
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;   
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}


/*ADD RECIPES*/

.custom-file-upload {
  text-align: center;
  background: #6e1e0f;
  color: white;
  border: 1px solid #ccc;
  display: inline-block;
  width: 200px;
}

#loader{
  width: 25px;
  margin-left: 5px;
  margin-bottom: 2px;
  margin-top: 2px;
}


.add-recipes-dropdown-desing{
  color: #666666;
  background: white;
  padding: 4px;
  border: 1px solid #cccccc;
  border-radius: 4px;

} 
.add-recipes-dropdown-desing:hover{
  color: #666666 !important;
} 

.add-recipes-dropdown-desing > a:active, a:focus{
  color: #666666 !important;
} 

#add-new-ingredient{
  background-color: #6e1e0f;
  border: none;
  padding: 6px 10px 6px 10px;
  color: white;
}

#send-recipes{
  background-color: #6e1e0f !important;
  border-color:#6e1e0f !important;
}
/*ICONS AND BUTTONS*/

.up-button{
 display: none;
 position: fixed;
 bottom: 0px;
 right: 0px;
 width: 30px;
 z-index: 99;
 border: none;
 outline: none;
 background-color: #6e1e0f;
 color: white;
 cursor: pointer;

}

.fa-thumbs-up,.fa-trash-o,.fa-pencil-square-o{
   font-size: 20px !important; 
   color: #6e1e0;
}


#add-comment-button{
  float: right;
}


/*MEDIA QUERIES*/

@media (min-width: 780px){
  .navbar{
    border-radius: 0px !important;
  }
  #basic-information{
    margin-top: 10px !important;
    margin-left: 0px !important;
  }
}

@media (min-width: 1200px){
  .basic-info{
    margin-top: 0px !important;
  }
  

}

@media (max-width: 768px) {
  .container.recipes{
    margin-left: 0px;
    margin-right: 0px;

  }
  .custom-file-upload {
    width: 100%;
  }
}






