<template name="index">
    {{> templateHeader}}
    <div id="recipes">
        <div class="container wow fadeInUp">
          <div class="section-header">
            <legend class="text-center header ">Recepti</legend>    
          </div>
          <div class="row">
            <div class="col-lg-12">
              <ul id="recipes-flters">
                <li class="filter-active"><input id="search-input" class="search" type="text" placeholder="Pretraži recepte..."><i class="fa fa-search" aria-hidden="true"></i>
                </li>
              </ul>
            </div>
          </div>
        
           {{#each search_allRecepies}}
              <div style="margin-bottom" class="col-lg-3 col-md-6 gallery">
                    <a href="/recept/{{_id}}">
                      <div class="pic">
                        <img style="max-width: 100%;max-height: 170px;" src="{{picture}}" alt="">
                      </div>
                    </a>
                    <h4 class="recipes-gallery-name">{{name}}</h4>
                    <span>Vreme pripreme {{time}} minuta</span>
              </div>
            {{/each}}
          </div>
        </div>
      <div>
  </div>
  <button class="up-button" ><i class="fa fa-angle-up" aria-hidden="true"></i></button>
</template>