<template name="templateshowAdvanced">
  {{> templateHeader}}
  
  <div class="container showadvanced">
    <div class="row">
      <div class="col-md-12">
        <legend class="text-center header">
          {{name}}
          <div style="float: right;">
            <div id="recipes-likes">
              {{#if   recipes_likes_greater_than_zero}}
              Broj sviđanja {{recipes_likes}} 
              {{/if}}
            </div>
            {{#if currentUser}}
            <i style="color:blue" class="fa fa-thumbs-up"></i>
            {{/if}}
            {{#if is_post_publisher}}
            <i id="trash" title="Obrisite recept" class="fa fa-trash-o delete-post" aria-hidden="true"></i>
            <!--<i id="pencil" title="Izmenite recept" class="fa fa-pencil-square-o update-post " aria-hidden="true"></i>-->
            {{/if}}
          </div>
        </legend>

        <span class="col-lg-6  col-xs-12">
          <img id="recipes-picture" src="{{picture}}">
        </span>

        <div class="col-lg-6 col-xs-12">
          <legend class="text-center header basic-info">Osnovne informacije</legend>
          <ul id="basic-information">
            <li class="autor">Autor :{{user.profile.name}}</li>  
            <li>Kategorija :{{category}}</li>  
            <li>Težina pripreme :{{difficulty}}</li> 
            <li>Vreme pripreme : {{time}} <span>minuta</span></li> 
            {{#unless number=""}} 
            <li>Broj porcija :{{number}}</li>
            {{/unless}}
          </ul>
        </div>

        <div style="margin-top: 400px;">
          <legend class="text-center header col-lg-12">Sastojci</legend>
          <table class="table">
            <thead>
              <tr>
                <th>Količina</th>
                <th>Sastojak</th>
              </tr>
            </thead>
            {{#each ingredients}}
            <tbody>
              <tr>
                <td>{{kolicina}}</td>
                <td>{{sastojak}}</td>
              </tr>
            </tbody>
            {{/each}}
          </table>
        </div> 

        <div>
          <legend class="text-center header col-lg-12">Priprema</legend>
          <span class="col-md-2 col-md-offset-1 text-center">Način pripreme</span>
          <div id="preparation" class="col-md-8">
            {{{preparation}}}
          </div>

          {{#unless filteradvice=""}}
          <span class="col-md-2 col-md-offset-1 text-center">Savet</span>
          <div  class="col-md-8">
            {{{advice}}}
          </div>
          {{/unless}}   

        </div> 

        <div>
          <legend class="text-center header col-lg-12">Komentari</legend>
          {{#if currentUser}}
          <span class="col-md-8 col-xs-12 col-md-offset-1 text-center">
            <input style="width: 100%;margin-bottom: 20px;" class="form-control" id="add-comment-input" type="text" placeholder="Unesite komentar" required="true"/>
          </span>

          <div class="col-md-2 col-xs-12">
           <input  type="submit" id="add-comment-button" class="btn btn-success" value="Postavite komentar">
         </div>
         {{/if}}
         {{#each comments}}
         <span class="col-md-8 col-xs-8 col-md-offset-1 ">
          <p>{{ comment_publisher.profile.name}}
            {{#if is_comment_publisher}}
            <div style="float: right;">
              <i  id="trash"  title="Obrisite komentar" class="fa fa-trash-o delete-comment " aria-hidden="true"></i>
              <i id="pencil" title="Izmenite komentar" class="fa fa-pencil-square-o update-comment  " aria-hidden="true"></i></div>
              {{/if}}</p>
            </span>
            <span class="col-md-8 col-xs-12 col-md-offset-1 "> 
              <p>{{comment}}</p>
            </span>
            
            <div id="comment-delete-modal" class="modal">
              <div class="modal-content" >
                <div class="modal-header">
                  <span  class="close delete-comment-modal" >&times;</span>
                  <h1>Brisanje komentara</h1>
                </div>
                <div class="modal-body" >
                  <p>Da li ste sigurni da želite da izbrišete komentar?</p>
                </div>
                <div class="modal-footer" style="text-align: center;" >
                  <p>
                    <button style="float: right;"  class="comment-delete-commit"  type="submit">Potvrdite brisanje komentara</button>
                  </p> 
                </div>
              </div>
            </div>

            <div id="comment-update-modal" class="modal">
              <div class="modal-content" >
                <div class="modal-header">
                  <span  class="close update-comment-modal" >&times;</span>
                  <h1>Izmena komentara</h1>
                </div>
                <div class="modal-body" style="text-align: center;" >
                  <form >
                    <p>
                      <input  class="form-control commentinput"  type="text" value="">
                    </p>
                  </form> 
                </div>
                <div class="modal-footer" style="text-align: center;" >
                  <p>
                    <button style="float: right;"  class="comment-update-commit"  type="submit">Potvrdite izmenu komentara</button>
                  </p> 
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div id="post-delete-modal" class="modal">
      <div class="modal-content" >
        <div class="modal-header">
          <span  class="close delete-post-modal" >&times;</span>
          <h1>Brisanje recepta </h1>
        </div>
        <div class="modal-body" >
          <form >
            <p>Da li ste sigurni da želite da obrišete recept ?</p>
          </form> 
        </div>
        <div class="modal-footer" style="text-align: center;" >
          <p><button style="float: right;"  class="post-delete-commit" type="submit">Potvrdite brisanje recepta</button></p> 
        </div>
      </div>
    </div>
    <div>
      <button class="up-button"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
    </div>

  </template>