<template name="templateRegister">
{{> templateHeader}}
  <div class="container">
    <div class="row" >
      <div class="col-lg-12" style="padding:0px;text-algin:center;background:whitesmoke ;">
       <div class=" col-lg-6 " style="padding:0;"><img src="cool.jpg" class="leftpicture" style="width: 100%"></div>
      <div class="col-lg-6">
        
      <h1 id="register" style=" text-align: center;">Registrujte se</h1>  
          <form class="register-form">
            <div aria-label="Register form" role="group">
              <label for="register-username">Korisničko ime</label>
              <input class="form-control" id="register-username" type="text" placeholder="unesite korisničko ime"/><br>
              <label for="register-password">Šifra</label>
              <input class="form-control" id="register-password" type="password" placeholder="unesite šifru"/><br>
              <label for="register-email">E-mail</label>
              <input class="form-control" id="register-email" type="text" placeholder="unesite e-mail adresu"/><br>
              <button type="submit" class="btn btn-success btn-lg center-block">Registruj se</button>
            </div>
          </form>
          <p style=" text-align: center;position: relative;top:10px">Već imate nalog? <a href="/prijava">Prijavite se</a></p> 
      
        </div>   
    </div>   
  </div>   
  </div>       
</template>