<template name="templateHeader">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">Šta kuvati?</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{currentUser.profile.name}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                 <li id="change-profile-name"><a href="#">Izmena korisničkog imena</a></li>
                  <li id="change-profile-password"><a href="#">Izmena šifre</a></li>
                </ul>
              </li>
          {{/if}}

          <li ><a href="/">Početna</a></li>
          <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kategorije <span class="caret"></span></a>
              <ul class="dropdown-menu">
               {{#each search_allCategory}}
                  <li><a href="/{{name}}">{{name}}</a></li>
                {{/each}}
              </ul>
          </li>
        
          {{#if currentUser}}
            <li><a href="/dodajte_recept">Dodaj recept</a></li>
            <li><a id="log-out" href="#">Odjavi se</a></li>
          {{else}}
            <li><a href="/prijava"><span class="glyphicon glyphicon-user"></span> Prijavite se</a></li>
            <li><a href="/registracija"><span class="glyphicon glyphicon-log-in"></span> Registrujte se</a></li>
         {{/if}}
        </ul>
      </div>
    </div>
  </nav>

<div id="username-modal"  class="modal">
  <div class="modal-content"  >
    <div class="modal-header">
      <span  class="close" >&times;</span>
      <h1>Izmena korisničkog imena</h1>
    </div>
    <div class="modal-body" style="text-align: center;" >
      <form id="new-name-form">
        <p><input id="new-user-name" class="form-control"  type="text" placeholder="Unesite novo korisničko ime"></p>
      </form> 
    </div>
    <div class="modal-footer" style="text-align: center;" >
      <button style="float: right;"  class="confirm-close" id="confirm-profile-name-change" type="submit">Potvrdite izmenu korisničkog imena</button>
    </div>
  </div>
</div>



<div id="password-modal" class="modal">
  <div class="modal-content" >
    <div class="modal-header">
      <span class="close" >&times;</span>
      <h1>Promenite  šifru</h1>
    </div>
    <div class="modal-body" style="text-align: center;" >
        <form id="new-password-form">
          <div class="input-group">
            <span title="Prikazite šifru" class="input-group-addon"><i id="old" class="fa fa-eye password" aria-hidden="true"></i></span>
            <input  id="old-password" class="form-control"  type="password" placeholder="Unesite staru šifru">
    </div><br>

    <div class="input-group">
        <span  title="Prikazite šifru" class="input-group-addon"><i id="new" class="fa fa-eye password" aria-hidden="true"></i></span>
        <input id="new-password" class="form-control " type="password" placeholder="Unesite novu šifru">
    </div><br>

    <div class="input-group">
      <span title="Prikazite šifru" class="input-group-addon"><i id="confirm" class="fa fa-eye password" aria-hidden="true"></i></span>
      <input id="confirm-password" class="form-control" type="password" placeholder="Potvrdite novu šifru">
    </div>
      
    </form> 
  </div>
  
  <div class="modal-footer" style="text-align: center;" >
   <button style="float: right;" class="confirm-close" id="confirm-profile-password-change" type="submit">Potvrdite izmenu šifre
   </button>
 </div>

</div>
</div>
</template>



