<template  name="templateLogin">
  {{> templateHeader}}
  <div class="container">
    <div class="row" >
      <div class="col-lg-6 col-lg-offset-3 col-xs-12" style="text-algin:center;background:whitesmoke;">
        <h1 style="padding-top: 20px;text-align: center; ">Prijavite se</h1>  
        <form class="login-form">
            <div aria-label="Login form" role="group">
            <label for="login-email">Email</label>
            <input class="form-control" id="login-email" type="text" placeholder="Unesite Vaš email"/><br>
            <label for="login-password">Password</label>
            <input id="login-password"  class="form-control"  type="password" placeholder="šifra"/><br>
            <button type="submit"  class="btn btn-success btn-lg center-block"  >Prijavi se</button>
          </div>
        </form>
        <p style="padding-top: 20px; text-align: center;" >Nisi registrovan? <a href="/registracija">Registruj se</a></p> 
      </div>   
    </div>    
  </div>          
</template>