<template name="templateAddRecipes">
  {{#if currentUser}}
  {{> templateHeader}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <form class="form-horizontal" method="post">
            <fieldset>
              <legend >Dodajte recept</legend>

              <div class="form-group">
                <div  class="col-md-2 col-md-offset-1 name-of-input">Naziv</div>
                <div class="col-md-8">
                  <input class="form-control" id="name" type="text"/>
                </div>
              </div>

              <div class="form-group">
                <div  class="col-md-2 col-md-offset-1  name-of-input">Kategorija</div>
                <div class="col-md-8">
                 <li class="dropdown">
                   <a class="dropdown-toggle add-recipes-dropdown-desing"  data-toggle="dropdown" href="#">
                    <label id="category">Izaberite  kategoriju</label><span class="caret"></span></a>
                      <ul class="dropdown-menu" id="ul-category">
                        {{#each search_allCategory}}
                          <li name="{{name}}"><a href="#">{{name}}</a></li>
                        {{/each}}
                     </ul>
                  </li>
                </div>
              </div>

              <div class="form-group">
              <div class="col-md-2 col-md-offset-1  name-of-input">Težina pripreme</div>
                <div class="col-md-8">
                  <li class="dropdown">
                    <a class="dropdown-toggle add-recipes-dropdown-desing"  data-toggle="dropdown" href="#">
                      <label id="difficulty">Izaberite težinu</label><span class="caret"></span></a>
                        <ul class="dropdown-menu" id="ul-difficulty">
                          <li name="Lako"><a href="#">Lako</a></li>
                          <li name="Umereno"><a href="#">Umereno</a></li>
                          <li name="Teško"><a href="#">Teško</a></li>
                        </ul>
                  </li>
               </div>
            </div>

            <div class="form-group">
              <div class="col-md-2 col-md-offset-1  name-of-input">Vreme pripreme</div>
              <div class="col-md-8">
                <input class="form-control" id="time" type="number"/>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-2 col-md-offset-1  name-of-input">Broj porcija</div>
              <div class="col-md-8">
                <input class="form-control" id="number" type="text" />
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-2 col-xs-2 col-md-offset-1 ">Posno</div>
              <div class="col-md-8 col-xs-8">
                <input id="wayoflife" type="checkbox"/>
              </div>
            </div>
          
            <div class="form-group">
              <div class="col-md-2  col-md-offset-1  name-of-input">Izaberite sliku</div>
              <div class="col-md-8">
                 <form id="picture-form">
                   <label for="file-upload" class="custom-file-upload">Dodajte sliku</label>
                   <input id="file-upload" style="display:none" type="file"/>
                </form>
             </div>
            </div>

            <legend >Dodajte sastojke</legend>

            <div class="one-ingredient">
              <div class="form-group">
                <div class="col-md-2 col-md-offset-1  name-of-input">Količina</div>
                  <div class="col-md-8">
                    <input  class="form-control" name="kolicina" type="text"  />
                  </div>
              </div>

             <div class="form-group">
                <div class="col-md-2  col-md-offset-1  name-of-input">Sastojak</div>
                <div class="col-md-8 ">
                  <input  class="form-control" name="sastojak" type="text" />
                </div>
              </div>
            </div>

            <div class="add-new-ingredient"></div>
            <div class="form-group">
              <div class="col-md-2 col-md-offset-1 "></div>
                <div class="col-md-8">
                <button id="add-new-ingredient" style="float: right;">Dodaj nov sastojak</button>
              </div>
            </div> 

            <legend>Priprema</legend>

            <div class="form-group">
               <div class="col-md-2 col-md-offset-1 name-of-input">Način pripreme</div>
               <div class="col-md-8">
                 <textarea class="form-control" id="preparation" name="message"  rows="7"></textarea>
               </div>
            </div>

           <div class="form-group">
              <div class="col-md-2 col-md-offset-1  name-of-input">Savet</div>
              <div class="col-md-8">
                <textarea class="form-control" id="advice" name="message" rows="7"></textarea>
              </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 text-center ">
              <button type="submit"  class="btn btn-success btn-lg " id="send-recipes">Pošalji recept</button>
          </div>
        </div>   
       </fieldset>
      </form>
      </div>
    </div>
  </div>
{{/if}}
<button class="up-button" ><i class="fa fa-angle-up" aria-hidden="true"></i></button>
</template>




